label{
    margin-top: 10px;
}
.image-logo{
    margin-top: 10px;
}
.form-part{
    display: flex;
}
.h3-heading{
        margin-top: 10px;
}
.table-hidden{
    display: none;
}

.table-container{
    height: 300px;
    width: 100%;
    overflow: scroll;
}